<div class="site-footer">
  <div class="site-footer-inner">
    <ul class="site-footer-menu">
      <li class="menu-item">
        <a class="menu-link" href="#">{{ t.t('footer_terms') }}</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">{{ t.t('footer_ownership') }}</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">{{ t.t('footer_privacy') }}</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">{{ t.t('footer_cookie') }}</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">{{ t.t('footer_help') }}</a>
      </li>
    </ul>
    <p>{{ t.t('copyright', "now"|date("Y")) }}</p>
  </div>
</div>
